body {
  background-color: #f1f2f5;
}

#to-do-list {
  background-color: #fff;
  box-shadow: 0 2px 8px rgb(0 0 0 / 15%);
  margin: 10% 25% 0;
}

ul {
  margin: 0;
  padding: 0;
}

li {
  list-style-type: none;
  border-bottom: solid rgb(192, 192, 192) 1px;
  padding: 1rem;
  display: flex;
  justify-content: space-between;
}

li span {
  display: flex;
  width: 100%;
  height: 18px;
}

#form {
  display: flex;
  justify-content: space-between;
  width: 100%;
}

label .task {
  width: 100%;
}

input:focus,
.task:focus {
  outline: none;
}

#add {
  border-width: 0;
  border: none;
  height: 100%;
}

#addBtn {
  border: 0;
  background-color: #fff;
}

.delete-icon {
  display: none;
}

#clear-completed {
  padding: 1rem;
  width: 100%;
  border: none;
}

/* edit a task */
.taskInput {
  border: solid #fff;
  width: 100%;
  height: 18px;
  padding: 0;
}
