body {
  background-color: #f1f2f5;
}

#to-do-list {
  background-color: #fff;
  box-shadow: 0 2px 8px rgb(0 0 0 / 15%);
  margin: 10% 25% 0;
}

ul {
  margin: 0;
  padding: 0;
}

li {
  list-style-type: none;
  border-bottom: solid rgb(192, 192, 192) 1px;
  padding: 1rem;
  display: flex;
  justify-content: space-between;
}

#add {
  border: 0;
}

button {
  padding: 1rem;
  width: 100%;
  border: none;
}

.hide {
  display: none;
}
